---
- name: Ensure containerd directories exists
  file:
    state: directory
    path: "{{ item.dir }}"
    mode: "{{ item.mode }}"
  with_items:
    - dir: "{{ containerd_data_root }}"
      mode: "0711"
    - dir: /etc/containerd
      mode: "0700"

- name: Check if containerd config exists
  stat:
    path: /etc/containerd/config.toml
  register: containerd_config

- name: Check if containerd is properly configured
  command: 'egrep -v "^$|^#|^disabled_plugins" /etc/containerd/config.toml'
  register: containerd_config_lines
  when: containerd_config.stat.exists
  failed_when: false
  changed_when: false

- name: Configure containerd
  shell: "containerd config default > /etc/containerd/config.toml"
  when: not containerd_config.stat.exists or containerd_config_lines.stdout_lines | length == 0
  notify: restart containerd

- name: Configure containerd data root
  lineinfile:
    regexp: "^root *=.*"
    line: 'root = "{{ containerd_data_root }}"'
    path: /etc/containerd/config.toml

- name: Configure docker.io mirror
  lineinfile:
    regexp: "^ * endpoint *=.*"
    line: '          endpoint = {{ dockerio_endpoint | to_json }}'
    insertafter: '^ *\[plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"\]'
    path: /etc/containerd/config.toml
  vars:
    dockerio_endpoint: "{{ containerd_registry_mirrors | json_query('[?name==`docker.io`].endpoint[]') }}"

- block:
  - name: Configure cri plugin registry section
    lineinfile:
      line: "{{ item.line | indent(item.indent, true) }}"
      regexp: '^ *\[{{ item.line }}\]'
      insertafter: '^ *\[{{ item.parent }}\]'
      path: /etc/containerd/config.toml
    with_items:
      - line: '[plugins."io.containerd.grpc.v1.cri"]'
        parent: 'plugins'
        indent: 2
      - line: '[plugins."io.containerd.grpc.v1.cri".cni]'
        parent: 'plugins."io.containerd.grpc.v1.cri"'
        indent: 4
      - line: '[plugins."io.containerd.grpc.v1.cri".registry]'
        parent: 'plugins."io.containerd.grpc.v1.cri"'
        indent: 4
      - line: '[plugins."io.containerd.grpc.v1.cri".registry.mirrors]'
        parent: 'plugins."io.containerd.grpc.v1.cri".registry'
        indent: 6

  - name: Configure registry mirrors
    blockinfile:
      marker: "# {mark} ANSIBLE MANAGED MIRRORS"
      insertafter: '^ *\[plugins."io.containerd.grpc.v1.cri".registry.mirrors\]'
      block: '{{ lookup("template", role_path + "/templates/registry_mirrors.toml.j2") }}'
      path: /etc/containerd/config.toml
    notify: restart containerd

  - name: Configure CNI parameters
    lineinfile:
      line: '      {{ item.name }} = "{{ item.value }}"'
      regexp: '^ +{{ item.name }} *= *'
      insertafter: '^ *\[plugins."io.containerd.grpc.v1.cri".cni\]'
      path: /etc/containerd/config.toml
    with_items:
      - name: bin_dir
        value: "{{ containerd_cni_bin_dir }}"
      - name: conf_dir
        value: "{{ containerd_cni_conf_dir }}"

  - name: Configure cri plugin registry config section
    lineinfile:
      line: '      [plugins."io.containerd.grpc.v1.cri".registry.configs]'
      regexp: '^ *\[plugins."io.containerd.grpc.v1.cri".registry.configs\]'
      insertafter: '^ *\[plugins."io.containerd.grpc.v1.cri".registry\]'
      path: /etc/containerd/config.toml

  when: containerd_registry_mirrors is defined and containerd_registry_mirrors | length > 0

- block:
  - name: Get registry config value
    set_fact:
      registry_config: '{{ lookup("template", role_path + "/templates/registry_config.toml.j2") }}'

  - name: Configure registry parameters
    blockinfile:
      marker: "# {mark} ANSIBLE MANAGED REGISTRY CONFIG"
      insertafter: '^ *\[plugins."io.containerd.grpc.v1.cri".registry.configs\]'
      block: '{{ registry_config }}'
      path: /etc/containerd/config.toml
    notify: restart containerd
    when: registry_config | length > 50

  when: containerd_registry_configs is defined and containerd_registry_configs | length > 0
