---
- name: Add Docker repository GPG key
  rpm_key:
    key: "{{ docker_repo_address }}/gpg"
    validate_certs: "{{ docker_repo_valid_ssl }}"
    state: present

- name: Configure yum docker repository
  get_url:
    url: "{{ docker_repo_address }}/docker-ce.repo"
    dest: '/etc/yum.repos.d/docker-ce.repo'
    owner: root
    group: root
    mode: 0644

- name: Set baseUrl for docker repository
  replace:
    path: /etc/yum.repos.d/docker-ce.repo
    regexp: '^baseurl=https://download.docker.com/linux/(.*)$'
    replace: 'baseurl={{ docker_repo | regex_replace("/$", "") }}/\1'

- name: Configure containerd on RHEL 8
  block:
    - name: Ensure container-selinux is installed.
      package:
        name: container-selinux
        state: present

    - name: Disable container-tools module
      command: dnf -y module disable container-tools
      changed_when: false
  when: ansible_distribution_major_version | int == 8
