{% for registry in containerd_registry_configs %}
{% if registry.tls is defined %}
        [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ registry.name }}"]
{% endif %}
{% if registry.tls is defined and registry.tls.skip_ssl_verify is defined and registry.tls.skip_ssl_verify %}
          [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ registry.name }}".tls]
            insecure_skip_verify = true
{% endif %}
{% endfor %}
